.Tag {
  display: block;
  margin: .5em 1em .1em .1em;
  padding: .3em 1em;
  color: #fff;
  background: #919191;
  font-size: 80%;
  float: left;
  cursor: default;
}
.Tag-html {
  background: #5aba59;
}
.Tag-css {
  background: #4d85d1;
}
.Tag-js {
  background: #e59539;
}
.Tag-back {
  background: #282828;
}
.Tag-ios {
  background: #8156a7;
}
.Tag-db {
  background: #6faedb;
}