{
  "extends": ["airbnb", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prefer-stateless-function": [0, { "ignorePureComponents": true }],
    "react/prop-types": "off"
  },
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  }
}