.App-header {
  margin: 20% 1.5em 0;
  text-align: right;
}

.App-title {
  margin: 0;
  text-transform: uppercase;
}

.App-tagline {
  margin: 0;
  font-weight: 300;
  color: #8e8ed6;
}

.sidebar-details, .social-container {
  margin: 5% 0 0;
  text-align: right;
}

.social-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-container a {
  margin-left: 1rem;
}

@media (max-width: 830px) {
  .App-header {
    text-align: center;
    top: auto;
    margin: 1em auto;
    position: static;
  }

  .sidebar-details {
 	  text-align: center;
    top: auto;
    margin: 1em auto;
    position: static;
  }

  .social-container {
    display: none;
  }
}
