.App {
  padding-left: 30%;
  position: relative;
}

.App-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 30%;
  margin-left: -30%;
  background: #18213d;
  color: #fff;
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.App-container {
  width: 100%;
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}
