@media print {
  @page {
    margin: 0;
  }
  body {
    -webkit-print-color-adjust: exact;
  }
  p {
    margin-top: .5em;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }

  .App-header {
    margin: .5em auto 0;
  }
  .print-hidden {
    display: none;
  }
  .sidebar-details {
    margin: .5em auto;
  }
  .App-container {
    padding: 1em 2em;
  }
  .Posts-header {
    padding: .2em 0;
    margin-bottom: .3em;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: .1em;
  }
  .Posts {
    padding-bottom: 0;
  }
  .Post {
    padding-bottom: .2em;
  }

  .compact ul {
    margin: 0 auto .5em;
    list-style-type: none;
  }
  .compact .Post-header {
    float: left;
    width: 30%;
  }
  .compact .Post-description {
    float: left;
    width: 70%;
  }
  .Post-title {
    font-size: 1em;
    margin-top: 0;
    margin-right: 5px;
    display: inline-block;
  }
  .Post-description {
    font-size: .8em;
    line-height: 1em;
  }
  .Post-meta {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-bottom: -.2em;
  }
  .Post-meta--tags {
    display: block;
    margin-top: -.2em;
    margin-bottom: .2em;
  }
}